/* animation sur la photo,
relier nav avec la page,
animation sur les compétences: bar qui augmente quand hover
transform sur les les logos
animations sur les fleches dans intérêts : déroulement pour afficher des affiches de films
ajouter lecteur mp3 pour musique
*/
html {
  font-family: 'Oswald', sans-serif;
  background: #cbe0ca;
  margin: 0;
}

/*Menu de Navigation*/

nav {
  font-family: 'Oswald', sans-serif;
}

li {
  font-size: 28px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding-left: 20px;
}

a {
  color: #333333;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

a:hover {
  color: #37078f;
}

/* Section A propos*/

h2 {
  color: #37078f;
}
.apropos-conteneur {
  display: flex;
}
.me {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 25%;
}

.name {
  color: #37078f;
  font-size: 46px;
  margin-left: 100px;
  margin-top: 50px;
}

.pres {
  font-size: 36px;
  margin-left: 100px;
  color: #333333;
}

/* Compétences*/

.comp {
  font-size: 46px;
  margin-left: 100px;
  margin-top: 50px;
  color: #37078f;
}
.made {
  display: block;
  color: #333333;
  font-size: 0.75rem;
  text-align: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin-left: 200px;
}
#competences {
  height: 100px;
}

.button{
  height:50px;
  width:200px;
  border:0;
  background:rgb(186, 175, 155);
  position:relative;
  margin-left: 75px;
  margin-right: 100px;
  margin-bottom:5px;
  font-size: 36px;
  color: #333333;
  border-radius: 5%;
}
.button:hover {
  color: white;
  background-color: #37078f;
  transition: all 0.5s ease-in ;
}
.english-hover:after{
  position:absolute;
  top:100%;
  left:0%;
  width:0;
  height:5px;
  background:#37078f;
  display:block;
  content:'';
  transition: width 0.5s ease-in-out;
  margin-top: 5px;
}
.english-hover:hover:after{
  width:100%;
}
.italian-hover:after{
  position:absolute;
  margin-top: 5px;
  top:100%;
  left:0%;
  width:0;
  height:5px;
  background:#37078f;
  display:block;
  content:'';
  transition: width 0.5s ease-in-out;
}
.italian-hover:hover:after{
  width:50%;
}
.spanish-hover:after{
  position:absolute;
  margin-top: 5px;
  top:100%;
  left:0%;
  width:0;
  height:5px;
  background:#37078f;
  display:block;
  content:'';
  transition: width 0.5s ease-in-out;
}
.spanish-hover:hover:after{
  width:25%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-left: 550px;
}

.html5 {
  margin-top: 0px;
}

.css3 {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}


.git {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}

.js {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}

.chrome {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}

.figma {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}

.node {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}

.terminal {
  width: 60px;
  height: 60px;
  margin-top: 0px;
  margin-left: 100px;
}


#competences {
  height: 350px;
}

.hobbies {
  font-size: 46px;
  margin-left: 100px;
  margin-top: 50px;
  color: #37078f;
}

.movies {
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-left: 135px;
  margin-top: 20px;
  color: #333333;
  width: 200px;
}

.carousel {
  width: 200px;
  height: 300px;
  position: relative;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  height: 200px;
  
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.slide > img {
  display: block;
  object-fit: cover;
  height: 380px;
  width: 240px;
  margin-left: 100px;
}

.carousel-button {
  position: absolute;
  top: 65%;
  font-size: 68px;
  background: none;
  border: none;
  z-index: 2;
  color: #37078f;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  transform: translateY(-50%);
}

.carousel-button:hover,
.carousel-button:focus {
  color: rgb(199, 199, 199);
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: solid 1px black;
}

.carousel-button.prev {
  left: 80px;
}

.carousel-button.next {
  left: 365px;
}

.favorite-movies {
  width: 600px;
  height: 300px;
}

.cinema {
  width: 500px;
  height: 500px;
  margin-right: 0;
}

#interet {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

.music{
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-left: 75px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333333;
  width: 200px;
}

.music-player{
  width: 350px;
  height: 400px;
  border-radius: 20px;
  background: rgba(99, 112, 99, 0.2)
}

.music-name,
.artist-name{
  text-align: center;
  text-transform: capitalize;
  color: #333333;
}

.artist-name{
  font-size: 36px;
  color: #37078f;
}

.music-name {
  font-size: 24px;
  margin-bottom: 50px;
}

.disk{
  position: relative;
  display: block;
  margin: 40px auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-image: url('images/kaytra.jpg');
  background-size: cover;
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
  bottom: 5%;
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}

.disk.play{
  animation-play-state: running;
}

.disk::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #B6C9B6;
}

.song-slider{
  width: 100%;
  position: relative;
  bottom: 10%;
}

.seek-bar{
  -webkit-appearance: none;
  width: 99%;
  height: 5px;
  border-radius: 10px;
  background: #cbe0ca;
  overflow: hidden;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  background: #37078f;
  box-shadow: -400px 0 0 400px #37078f;
}

.current-time,
.song-duration{
  font-size: 14px;
}

.song-duration{
  position: absolute;
  right: 0;
}

.controls{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  bottom: 15%;
}

.play-btn{
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #cbe0ca;
  cursor: pointer;
  border: none;
}

.play-btn span{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: #37078f;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

.play-btn span:nth-child(2){
  left: 55%;
  transform-origin: center;
}

.play-btn.pause span:nth-child(2){
  transform: translateY(-50%) scaleY(0);
}

.play-btn.pause span:nth-child(1){
  width: 35%;
  left: 53%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

.play-btn.pause{
  animation: pulse 2s linear infinite;
}

@keyframes pulse{
  0%{
    box-shadow: 0;
  }
  50%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
  }
  100%{
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
  }
}

.btn{
  width: 50px;
  height: 40px;
  background: #cbe0ca;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 10px;
}

@keyframes rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.pop-title{
  width: 300px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 150px;
  color: #333333;
  width: 200px;
}

.pop-culture{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}
/*Animation BD*/
.bd{
  background:rgb(186, 175, 155);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
  font-weight: bold;
  font-size: 36px;
  transition: all 0.2s ease-in 0.1s;;
  
}

.bd-text{
  margin-left: 100px;
  font-size: 22px;
  
}

.drop-down-bd{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-image: url(./images/imageedit_1_7991260707.png);
  background-size: cover;
  border-radius: 20px;
  margin-left: 75px;
  margin-bottom: 10px;
}

.bd:hover{
  background-color: #37078f;
  color: white;
  cursor: pointer;
}
.drop-down-bd .image-bd{
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: top 0.2s ease-in, 
              opacity 0.2s linear;
}

.drop-down-bd:hover .image-bd{
  top: 0;
  opacity: 1;
}

.img-bd{
  width: 200px;
  height: 200px;
  margin-left: 50px;
}

/*Animation Jeux*/

.games{
  background:rgb(186, 175, 155);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
  font-weight: bold;
  font-size: 36px;
  transition: all 0.2s ease-in 0.2s;
}

.drop-down-games{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-image: url(./images/edit.png);
  background-size: cover;
  border-radius: 20px;
  margin-left: 75px;
}

.games:hover{
  background-color: #37078f;
  color: white;
  cursor: pointer;
}

.drop-down-games .image-games{
  position: fixed;
  z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: top 0.2s ease-in, 
              opacity 0.2s linear;
}

.drop-down-games:hover .image-games{
  top: 0;
  opacity: 1;
}

.img-games{
  width: 200px;
  height: 300px;
  margin-left: 50px;
}

.abyss{
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.lueur{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}



footer{
  height: 400px;
}

.footer{
  padding: 0px 5px 5px 5px;
  border-radius: 10px;
  height: 100px;
  width: 22%;
  margin: 5px 1% 5px 100px;
  float: left;
  position: relative;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  background-color: #B6C9B6;
  transition: 0.75s;
  bottom: 25px;
}

.footer:hover{
  height: 300px;
  width: 50vw;
  background-color: #cbe0ca;
}
.contact{
  position: relative;
  bottom: 25px;
  font-size: 46px;
  border-radius: 15px;
}
.contact-list{
  display: flex;
  flex-direction: row;
}

.phone-logo{
  margin-left: 15px;
}

.mail-logo{
  margin-left: 15px;
}

.git-logo{
  margin-left: 15px;
}

.contact-text {
  color: #333333;
}